soap_standalone/src/wsdl/localhost_8080/LoyaltyService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="http://itmo.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://itmo.ru/">

<xs:element name="getAll" type="tns:getAll" />

<xs:element name="getAllResponse" type="tns:getAllResponse" />

<xs:complexType name="getAll">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:loyalty" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loyalty">
<xs:sequence>
<xs:element name="spbso" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="event" type="xs:string" minOccurs="0" />
<xs:element name="cash" type="xs:string" minOccurs="0" />
<xs:element name="brigade" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>